<div ng-controller="EventCtrl">
  <button on-hold="onHold()" class="button">hold</button>
  <button on-tap="onTap()" class="button">top</button>
  <button on-double-tap="onDoubleTap()" class="button">doubleTap</button>
  <button on-touch="onTouch()" class="button">touch[触摸]</button>
  <button on-release="onRelease()" class="button">onRelease[弹起]</button>
  <button on-drag="onDrag()" class="button">onDrag[滑动]</button>
  <button on-drag-up="onDragUp()" class="button">onDragUp</button>
  <button on-drag-right="onDragRight()" class="button">onDragRight</button>
  <button on-drag-left="onDragLeft()" class="button">onDragLeft</button>
  <button on-drag-down="onDragDown()" class="button">onDragDown</button>
  <button on-swipe="onSwipe()" class="button">onSwipe</button>
</div>
